﻿@inherits LayoutComponentBase
@using BlazoreChat.Interfaces
@using BlazoreChat.Models
@inject IClientService _clientService;
@inject LoginState loginState;
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        
        <div class="top-row px-4">
            @if (loginState.IsLoggedIn.Equals(false))
            {
            <label>
                enter an existing one or want to create one
            </label>
                <div>
                    <input @bind="accountName" />
                </div>
                <div>
                    <button @onclick="GetOrCreateClient">
                        CreateOrOpen
                    </button>
                </div>
            }
            else
            {
                <div>
                    <label>@loginState.User.Name!</label>
                    <button type="submit" @onclick=@HandleLogout>
                        Logout
                    </button>
                </div>
            }

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private String? accountName;
    private async Task GetOrCreateClient()
    {
        var client = await _clientService.GetClientOrCreate(accountName);
        loginState.SetLogin(true, client);
        NavigationManager.NavigateTo("/users");
    }
    private void HandleLogout()
    {
        loginState.SetLogin(false, null);
        NavigationManager.NavigateTo("/users");
    }
}