﻿@page "/"
@using CommonModels.Models
@using BlazoreChat.Models
@using BlazoreChat.Interfaces
@inject LoginState loginState;
@inject NavigationManager NavigationManager;
@inject IClientService _clientService;

@if (loginState.IsLoggedIn)
{

<table class="table table-striped table-bordered bg-light table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>User1</th>
            <th>User2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chat in chatList)
            {
        <tr @onclick="() => OpenChat(chat.Id)">
            <td>@chat.Id</td>
            <td>@chat.User1Name</td>
            <td>@chat.User2Name</td>
        </tr>
            }
    </tbody>
</table>
}
else
{
<h2>Pls write your accout</h2>
}

@code{
    private List<ChatModel> chatList = new List<ChatModel>();
    protected override async Task OnInitializedAsync()
    {
        await GetChats();
    }
    private async Task GetChats()
    {
        if (loginState.IsLoggedIn)
        {
            var list = await _clientService.GetChatsByUserId(loginState.User.id);
            chatList = list.ToList();
        }
    }
    private async Task<String> getNameUser(int id)
    {
        var user = await _clientService.GetClientById(id);
        return user.Name;
    }
    public void OpenChat(int index)
    {
        NavigationManager.NavigateTo("chat/" + index);
    }

}