﻿@page "/chat/{Id:int}"
@using CommonModels.Models
@using BlazoreChat.Models
@using BlazoreChat.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@inject LoginState loginState
@inject NavigationManager NavigationManager
@inject IMessageService messageService

<div class="container overflow-auto shadow-sm p-3 mb-5 bg-white rounded" style="height: 700px;">
    @if (!messages.Any())
    {
        <p>No messages yet, start chatting!</p>}

    @foreach (var userMessage in messages)
    {
<div class="row mb-3 d-flex @(userMessage.SenderName == loginState.User.Name ? "justify-content-end" : "")">
    
    <div class="card shadow @(userMessage.SenderName == loginState.User.Name ? "color-green mr-5" : "ml-5")" style="width: 18rem;">
        <div class="card-header">
            @(userMessage.SenderName == loginState.User.Name ? "You" : userMessage.SenderName)
            @if (userMessage.SenderName == loginState.User.Name)
            {
            <ul class="list-inline m-0 float-right">
                <li class="list-inline-item ">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" @onclick ="() => EditClick(userMessage) " ><i class="fa fa-edit"></i></button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" @onclick="() => DeleteMessage(userMessage)"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item @(userMessage.SenderName == loginState.User.Name  ? "color-green" : "")">@userMessage.Content</li>
        </ul>
        <div class="card-footer">
            <span class="small">@userMessage.DateTimeMessege.ToString("HH:mm | MMM dd")</span>
        </div>
    </div>
</div>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <textarea @bind="messageInput" class="form-control" placeholder="Start typing..."></textarea>
        </div>
        <div class="col-3">
            <button type="button" @onclick="Send" class="btn btn-primary">@buttonSend</button>
            <button type="button" @onclick="GetMessages" class="btn btn-primary" disabled="@(!btnGetMessage)">Get20Message</button>
        </div>
    </div>
</div>

@code {
    private HubConnection hubConnection;
    private string messageInput;
    private string buttonSend = "Send";
    private int countMessage = 0;
    private bool isUserReadonly = false;
    private int updateMessageId;
    private bool btnGetMessage = true;
    private List<MessageModel> messages = new List<MessageModel>();
    [Parameter]
    public int Id { get; set; }

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        await GetMessages();

        hubConnection = new HubConnectionBuilder()
        .WithUrl("https://apimessenger.azurewebsites.net/chathub")
        .Build();

        hubConnection.On<MessageModel>("GetMessage", message =>
        {
            messages.Insert(0, message);

            StateHasChanged();
        });
        hubConnection.On<MessageModel>("DeleteMessage", message =>
        {
            messages.RemoveAll(m => m.id == message.id);

            StateHasChanged();
        });
        hubConnection.On<MessageModel>("UpdateMessage", message =>
        {
            var index = messages.FindIndex(m => m.id == message.id);
            if(index != -1)
                messages[index] = message;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinChat", Id.ToString());
    }

    private async Task Send()
    {
        if(buttonSend == "Edit" && !string.IsNullOrEmpty(messageInput) && loginState.IsLoggedIn)
        {
            var newMessage = new MessageModelUpdate() { Content = messageInput };
            await messageService.PutMessage(newMessage, updateMessageId);
            messageInput = string.Empty;
            buttonSend = "Send";
        }

        else if (buttonSend == "Send" && !string.IsNullOrEmpty(messageInput) && loginState.IsLoggedIn)
        {
            var message = new MessageModel()
            {
                Content = messageInput,
                ChatId = Id,
                SenderName = loginState.User.Name,
                DateTimeMessege = DateTime.Now
            };
            await messageService.PostMessage(message);
            messageInput = string.Empty;
        }
    }

    private async Task GetMessages()
    {
        var list = await messageService.Get20MessageGrop(Id, countMessage);
        messages.AddRange(list.ToList());
        countMessage += list.Count();
        if (list.Count() < 20)
        {
            btnGetMessage = false;
        }
    }

    private async Task DeleteMessage(MessageModel message)
    {
        await messageService.DeleteMessage(message.id);
    }

    private void EditClick(MessageModel message)
    {
        messageInput = message.Content;
        buttonSend = "Edit";
        updateMessageId = message.id;
    }
}
