﻿@page "/users"
@using CommonModels.Models
@using BlazoreChat.Models
@using BlazoreChat.Interfaces
@inject IClientService clientService;
@inject IChatService _chatService;
@inject LoginState loginState;
@inject NavigationManager NavigationManager;

<h2>if you are authorized, click on the item to open or create chat with him</h2>
<h5>Client List!</h5>

<table class="table table-striped table-bordered bg-light  table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in clientList)
        {
            <tr @onclick="() => OpenOrCreateChat(client)    ">
                <td>@client.id</td>
                <td>@client.Name</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<ClientModel> clientList = new List<ClientModel>();
    protected override async Task OnInitializedAsync()
    {
        await GetClients();
    }
    private async Task GetClients()
    {
        var list = await clientService.GetClients();
        clientList = list.ToList();
    }
    public async Task OpenOrCreateChat(ClientModel client)
    {
        if (loginState.IsLoggedIn && loginState.User.id != client.id )
        {
            var chat = await _chatService.GetOrCreateChatBetweenTwoUsers(client.id, loginState.User.id);
            NavigationManager.NavigateTo("chat/" + chat.Id);
        }
    }
}
